<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<% include ./base %>
<form action="login", method="POST">
        <input type="text" placeholder="login or email" class="login" name="login" required>
        <input type="password" placeholder="password" class="passwordfield" name="password" required>
        <button class="home-btn btn-key login-btn" type="submit">login</button>
</form>



</button>
</body> 
<h6>
</h6>
</body>
</html>