<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<% include ./base %>
<script>
$('document').ready(function(){
    $('.login-btn').click(function(event){
        let login = document.getElementsByClassName('loginfield').value;
        let password = document.getElementsByClassName('passwordfield').value;
        console.log('Clicked!')
        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/login')
        xhttp.send(JSON.stringify({login: login, password: password}))
        
    })
})

</script>
<input type="text" placeholder="login" class="loginfield">
<input type="password" placeholder="password" class="passwordfield">
<button class="home-btn btn-key login-btn">login</button>

</button>
</body> 
<h6>
</h6>
</body>
</html>