<html>
<% include ./base %>
<body>
    <form action="/register" method="POST">
        <form>
            <input name="username" placeholder="username" required>
            <input name="password" placeholder="password" required>
            <input name="repeat_password" placeholder="repeat password" required>
            <input name="email" placeholder="email" required>
            <button class="home-btn btn-key reg-btn" type="submit">register</button>
        </form>
    </form>
</body>
</html>