<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<% include ./base %>
<h6>id: <%= id %></h6>
<h6>username: <%= username %></h6>
<h6>pp: <%= pp %></h6>
<body id="app"></body> 

<h6>
	<%= raw %>
</h6>
</body>
</html>