<html>
<head>

</head>
<body>
        <% include ./base %>
        <form style="border-color: black; height: 50rem;">
                
                <img src="https://a.minase.tk/<%= user.id %>" style="border-radius: 50%;"><h1><%= user.username %></h1>
                <h2><%= user.username %> from <%= user.country %></h2>
                <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
        </form>

        
</body>

</html>