


#navbar {
    background-image: url(https://akatsuki.pw/static/images/icons/button.svg) !important;
    background-color: #632da6 !important;
}


.showLeaderboard-enter-active, .showLeaderboard-leave-active {
    /* vue entry animation begin */
    transition: opacity 1s ease-out;
};

.showLeaderboard-enter, .showLeaderboard-leave-to {
    opacity: 0;
}


